@font-face {
  font-family: 'Faible';
  font-style: normal;
  font-weight: normal;
  src: local('Faible'), url(/src/fonts/Faible/Faible-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Faible';
  font-style: normal;
  font-weight: 700;
  src: local('Faible'), url(/src/fonts/Faible/Faible-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'SpoofTrial';
  font-style: normal;
  font-weight: normal;
  src: local('SpoofTrial'), url(/src/fonts/SpoofTrial/SpoofTrial-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'SpoofTrial';
  font-style: normal;
  font-weight: 700;
  src: local('SpoofTrial'), url(/src/fonts/SpoofTrial/SpoofTrial-Bold.otf) format('opentype');
}


:root{
  --green:#004E4C;
  --orange:#FAA834;
  --beige:#FFF8EF;
  --black:#333333;
  --white:#FFFAF4;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  background-color: var(--beige);
  font-family: 'Faible';
  color: var(--green);
  line-height: 1.5;
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
}

header{
  padding: 47px 0 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  transition: all ease-in-out .5s;
}

header.scrolled{
  background-color: var(--beige);
}

.banner-section{
  margin-top: 167px;
}

.container{
  padding: 0px 28px;
}

h1{
  font-family: 'SpoofTrial';
  font-size: 3.375rem;
  line-height: 1em;
  animation-duration: 3s;
  animation-name: slidein;
}

h1 .subtitle{
  display: block;
  font-size: 22px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 5px;
}

h1 strong{
  color: var(--orange);
}

img{
  width: 100%;
}

.logo{
  max-width: 101px;
}

.menu{
  opacity: 0;
  background: var(--beige);
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 9;
  top: 100px;
  transition: all ease-in-out .5s;
}

.menu.active{
  opacity: 1;
}

.menu li {
  list-style-type: none;
}

.menu li a{
  color: var(--green);
  padding: 10px;
  display: block;
  font-weight: 700;
}

.btn{
  padding: 12px 16px;
  background-color: var(--orange);
  border-radius: 8px;
  color: var(--beige);
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col{
  display: inherit;
}

.col-right{
  gap: 21px;
}

.mobile-menu-icon{
  height: 3px;
  width: 33px;
  position: relative;
  margin: 17px 0;
  cursor: pointer;
  background: var(--green);
  border-radius: 4px;
}

.mobile-menu-icon:before, 
.mobile-menu-icon:after {
  content: '';
  width: 27px;
  position: absolute;
  top: -9px;
  right: 0;
  border-radius: 4px;
  background: var(--green);
  height: 3px;
}

.mobile-menu-icon:after {
  top: 9px;
  width: 22px;
}

.text-content h1{
  margin-bottom: 24px;
}

.text-content p{
  margin-bottom: 62px;
  font-size: 1.0625rem;
}

.text-content p strong{
  font-size: 1.125rem;
}

.name{
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.25;
  color: var(--black);
}

.job-title{
  font-size: 0.8125rem;
  line-height: 1.5;
}

.big-card-profile .name{
  font-size: 1.0625rem;
  line-height: 1.5;
}

.big-card-profile .job-title{
  font-size: 0.9375rem;
}

.big-card-profile img{
  border-radius: 24px;
  margin-top: 12px;
}

.profile-wrap{
  position: relative;
}

.profile-card{
  background-color: var(--white);
  box-shadow: 0px 12px 24px 0px rgb(0, 0, 0, .8);
  border-radius: 12px;
  position: absolute;
  max-width: 140px;
}

.profile-card img{
  padding: 5px 6px 2px 5px;
  border-radius: 10px;
}

.profile-card .profile-text{
  padding: 0 11px 11px 9px;
}

.card-1{
  left: 23px;
  top: -70px;
}

.card-2{
  max-width: 138px;
  right: 0;
  top: 70px;
}

.card-2 img{
  padding: 6px 7px 2px 8px;
}

.card-2 .profile-text,
.card-3 .profile-text{
  padding-left: 8px;
  padding-bottom: 13px;
}

.card-3{
  top: 153px;
  max-width: 145px;
}

.card-3 img{
  padding: 8px 8px 0px 8px;
}

.bg-image{
  max-width:80%;
  margin-left: auto;
  margin-top: 42px;
}

@media all and (min-width:800px){
  
  .menu{
    display: flex;
  }
}