@font-face {
  font-family: 'Faible';
  font-style: normal;
  font-weight: normal;
  src: local('Faible'), url(./fonts/Faible/Faible-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Faible';
  font-style: normal;
  font-weight: 500;
  src: local('Faible'), url(./fonts/Faible/Faible-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Faible';
  font-style: normal;
  font-weight: 700;
  src: local('Faible'), url(./fonts/Faible/Faible-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'SpoofTrial';
  font-style: normal;
  font-weight: normal;
  src: local('SpoofTrial'), url(./fonts/SpoofTrial/SpoofTrial-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'SpoofTrial';
  font-style: normal;
  font-weight: 700;
  src: local('SpoofTrial'), url(./fonts/SpoofTrial/SpoofTrial-Bold.otf) format('opentype');
}


:root{
  --green:#004E4C;
  --orange:#FAA834;
  --beige:#FFF8EF;
  --black:#333333;
  --white:#FFFAF4;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  background-color: var(--beige);
  font-family: 'Faible';
  color: var(--green);
  line-height: 1.5;
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
}

header{
  padding: 47px 28px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  transition: all ease-in-out .5s;
}

header.scrolled{
  background-color: var(--beige);
}

.banner-section{
  margin-top: 167px;
  padding: 0 28px;
}

h1{
  font-family: 'SpoofTrial';
  font-size: 3.375rem;
  line-height: 1em;
  animation-duration: 3s;
  animation-name: slidein;
}

h1 .subtitle{
  display: block;
  font-size: 22px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 5px;
}

h1 strong{
  color: var(--orange);
}

img{
  width: 100%;
}

.logo{
  max-width: 101px;
}

.menu{
  opacity: 0;
  background: var(--beige);
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 9;
  top: 100px;
  transition: all ease-in-out .5s;
}

.menu li:hover a{
  color: var(--orange);
}

.menu.active{
  opacity: 1;
}

.menu li {
  list-style-type: none;
}

.menu li a{
  color: var(--green);
  padding: 10px;
  display: block;
  font-weight: 700;
}

.btn{
  padding: 12px 16px;
  background-color: var(--orange);
  border-radius: 8px;
  color: var(--beige);
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}

.btn:hover{
  background-color: var(--green);
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col{
  display: inherit;
}

.col-right{
  gap: 21px;
}

.mobile-menu-icon{
  height: 3px;
  width: 33px;
  position: relative;
  margin: 17px 0;
  cursor: pointer;
  background: var(--green);
  border-radius: 4px;
}

.mobile-menu-icon:before, 
.mobile-menu-icon:after {
  content: '';
  width: 27px;
  position: absolute;
  top: -9px;
  right: 0;
  border-radius: 4px;
  background: var(--green);
  height: 3px;
}

.mobile-menu-icon:after {
  top: 9px;
  width: 22px;
}

.text-content h1{
  margin-bottom: 24px;
}

.text-content p{
  margin-bottom: 62px;
  font-size: 1.0625rem;
}

.text-content p strong{
  font-size: 1.125rem;
}

.name{
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.25;
  color: var(--black);
}

.job-title{
  font-size: 0.8125rem;
  line-height: 1.5;
}

.big-card-profile .name{
  font-size: 1.0625rem;
  line-height: 1.5;
}

.big-card-profile .job-title{
  font-size: 0.9375rem;
}

.big-card-profile img{
  border-radius: 24px;
  margin-top: 12px;
}

.profile-wrap{
  position: relative;
}

.pin-desktop{
  display: none;
}

.profile-card{
  background-color: var(--white);
  box-shadow: 0px 12px 24px 0px rgb(0, 0, 0, .8);
  border-radius: 12px;
  position: absolute;
  max-width: 140px;
}

.profile-card img{
  padding: 5px 6px 2px 5px;
  border-radius: 10px;
}

.profile-card .profile-text{
  padding: 0 11px 11px 9px;
}

.card-1{
  left: 23px;
  top: -70px;
}

.card-2{
  max-width: 138px;
  right: 0;
  top: 70px;
}

.card-2 img{
  padding: 6px 7px 2px 8px;
}

.card-2 .profile-text,
.card-3 .profile-text{
  padding-left: 8px;
  padding-bottom: 13px;
}

.card-3{
  top: 153px;
  max-width: 145px;
}

.card-3 img{
  padding: 8px 8px 0px 8px;
}

.bg-image{
  max-width:80%;
  margin-left: auto;
  margin-top: 42px;
}

.line-desktop{
  display: none;
}

@media all and (min-width:800px){
  .container{
    margin: auto;
    max-width: 1280px;
    padding: 0;
  }

  header ,
  .banner-section{
    padding: 0 10px;
  }

  header{
    padding-top: 32px;
    padding-bottom: 20px;
  }

  .banner-section{
    margin-top: 217px;
  }

  .col-right{
    gap: 54.5px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  .menu{
    width: 75%;
    display: block;
    position: relative;
    top: 0;
    opacity: 1;
    background: none;
  }

  .menu ul{
    display: flex;
    gap: 54.5px;
    justify-content: flex-end;
  }

  .mobile-menu-icon,
  .line-mobile{
    display: none;
  }

  .line-desktop,
  .pin-desktop{
    display: block;
  }

  .banner-section .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
  }

  .col-1{
    grid-column: 2/3;
  }

  .col-2{
    grid-column: 1/2;
    position: relative;
  }

  .big-card-profile{
    display: flex;
    flex-direction: column-reverse;
    max-width: 416px;
    margin: auto;
    gap: 16px;
  }

  .big-card-profile .name{
    font-size: 1.25rem;
  }

  .big-card-profile .job-title{
    font-size: 1.063rem;
  }

  .profile-wrap{
    position: absolute;
    width: 100%;
  }

  .profile-text .name{
    font-size: 1.063rem;
  }

  .profile-text .job-title{
    color: rgba(0, 78, 76, 0.8);
    font-weight: 500;
  }

  .profile-card{
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    max-width: 146px;
  }

  .profile-card img{
    padding: 8px 8px 0px 8px;
  }

  .card-1{
    top: 50px;
    right: 54px;
    left: auto;
  }

  .card-2{
    left: 54px;
    top: 188px;
  }

  .card-3{
    top: 345px;
    right: 0px;
  }

  .text-content h1{
    font-size: 6.125rem;
    max-width: 582px;
    margin-left: auto;
    margin-bottom: 217px;
  }

  .text-content h1 span{
    font-size: 1.875rem;
    line-height: 1.4;
  }

  .text-content p{
    margin-left: auto;
    margin-right: auto;
    max-width: 351px;
    font-size: 1.25rem;
  }

  .text-content p strong{
    font-size: 1.25rem;
  }

  .pin1{
    max-width: 49px;
    position: absolute;
    right: 30px;
    top: 268px;
  }

  .pin2{
    max-width: 39px;
    left: 54px;
    position: absolute;
    top: 100px;
  }

  .bg-image{
    margin-top: -250px;
    margin-right: -100px;
  }
}

@media all and (min-width:801px) and (max-width:1100px){
  header{
    padding: 20px 10px;
  }

  .col-right{
    gap: 16px;
  }

  .menu ul{
    gap: 16px;
  }

  .text-content h1{
    font-size: 4.375rem;
  }

  .text-content p{
    padding-left: 60px;
  }

  .big-card-profile{
    width: 75%;
  }

  .pin1{
    right: 0;
  }

  .pin2{
    left: 0;
  }

  .card-1{
    right: 20px;
  }

  .card-2{
    left: 10px;
  }

  .card-3{
    top: 320px;
    right: 10px;
  }

  .line-desktop{
    z-index: -1;
    position: relative;
  }
}